In [10]:
#even or odd
def check(n):
    if n%2==0:
        return 'even'
    else:
        return 'odd'
print(check(9))

odd

In [25]:
#cumulative sum

#arr=[1,2,3,4]    out=[1,3,6,10]
def cumulative_sum(arr):
    for i in range(1,len(arr)):
        arr[i]=arr[i]+arr[i-1]
    return arr
arr=[1,2,3,4]
print(cumulative_sum(arr))

[1, 3, 6, 10]

In [79]:
#find factorial
def fact_n(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * fact_n(n - 1)

print(fact_n(4))

24

In [21]:
#fibonacci series upto nth term

#[0,1,1,2,3,5,8,13]
def fibonacci(n):
    start=[0,1]
    for i in range(2,n):
        new_term=start[-1]+start[-2]
    
        start.append(new_term)
    return start
print(fibonacci(8))

[0, 1, 1, 2, 3, 5, 8, 13]

In [23]:
#string is palindrome or not #
def is_palindrome(string):
    
    string = string.replace(" ", "").lower()
    
    
    return string == string[::-1]

text = input("Enter a string: ")
if is_palindrome(text):
    print("It is a palindrome.")
else:
    print("It is not a palindrome.")

Enter a string:  abhishek

It is not a palindrome.

In [25]:
#min max in list



def find_max_min(lst):
    """
    This function returns the maximum and minimum elements from a given list.
    
    Parameters:
    lst (list): A list of numerical values.

    Returns:
    tuple: (maximum value, minimum value) if list is not empty,
           otherwise returns a message indicating the list is empty.
    """
    if not lst:
        return "The list is empty."

    maximum = max(lst)
    minimum = min(lst)

    return maximum, minimum

# Example usage
numbers = [12, 5, 8, 20, 3, 17]
result = find_max_min(numbers)

if isinstance(result, tuple):
    print("Maximum value:", result[0])
    print("Minimum value:", result[1])
else:
    print(result)

Maximum value: 20
Minimum value: 3

In [27]:
#pangram or not
import string

def is_pangram(s):
    s = s.lower()
    for ch in string.ascii_lowercase:
        if ch not in s:
            return False
    return True

In [29]:
is_pangram('abhi')

False

In [31]:

#prime numbers in range
def find_primes(start, end):
    primes = []
    for num in range(start, end + 1):
        if num > 1:
            for i in range(2, int(num**0.5) + 1):
                if num % i == 0:
                    break
            else:
                primes.append(num)
    return primes

In [35]:
print(find_primes(2,100),end=" ")

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [37]:
#count upper and lowe case letters
def count_case(s):
    upper = lower = 0
    for char in s:
        if char.isupper():
            upper += 1
        elif char.islower():
            lower += 1
    return upper, lower

In [43]:
count_case('abhiSHEK')

(4, 4)

In [45]:
#digit sum
def sum_of_digits(n):
    total = 0
    while n > 0:
        total += n % 10
        n //= 10
    return total

In [47]:
sum_of_digits(111)

3

In [49]:
#sentence word count
def count_words(sentence):
    words = sentence.strip().split()
    return len(words)

In [59]:
count_words(" abhishek narwar")

2

In [61]:
#remove punctuation
import string

def remove_punctuation(s):
    return ''.join(char for char in s if char not in string.punctuation)
remove_punctuation('abhishek!')

'abhishek'

In [63]:
#find gcd
def find_gcd(a, b):
    while b:
        a, b = b, a % b
    return a

In [65]:
find_gcd(10,20)

10

In [67]:
#find duplicates
def find_duplicates(lst):
    result = []
    seen = set()
    for i in lst:
        if i in seen and i not in result:
            result.append(i)
        seen.add(i)
    return result
find_duplicates([1,2,2,3])

[2]

In [69]:
#largest of three numbers
def largest_of_three(a, b, c):
    return max(a, b, c)
largest_of_three(1,2,3)

3